<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- 注解和XMl混合使用 -->
	<context:component-scan
		base-package="com.yc.biz.impl,com.yc.dao.impl,com.yc.bean,com.yc.aspect" />

	<!-- 启用aspectj的代理机制 -->
	<aop:aspectj-autoproxy />

	<!-- 数据库连接文件 db.properties的读取   spring的容器启动时，会以流的方式读取这个配置文件的信息 -->
	<context:property-placeholder location="db.properties" />
	
	<!-- 使用dbcp配置数据库连接池 -->
	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${jdbc.driver}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>
	
	<!-- 取得  sqlSessionFactory -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		
		<!-- 主要用来配置mybatis中的configuration中的settings配置 -->
		<property name="configurationProperties">
			<props>
				<prop key="logImpl">LOG4J</prop>
			</props>
		</property>
		<!-- 别名的包的位置 -->
		<property name="typeAliasesPackage" value="com.yc.bean"></property>
		<!-- 配置mapper的映射文件的位置 -->
		<property name="mapperLocations" value="classpath*:com/yc/mapper/*.xml"></property>
	</bean>
	

</beans>